.button {
  border: 2px solid white;
  color: white;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 10px;
  transition-property: color, bakckground-color;
  transition: 0.3s;
}

.button:hover {
  background-color: white;
  color: black;
}
