.button {
  border: 2px solid var(--light-primary);
  color: var(--light-primary);
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 10px;
  transition-property: color, bakckground-color;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--light-primary);
  color: black;
}
