.image {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 0 auto;
  border: 5px solid var(--accent-color);
}

.informationHeader {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 50px;
}

.emailAddress {
  text-decoration: underline;
  display: inline-block;
  font-size: 18px;
  margin-top: 30px;
}

.informationHeader span {
  color: var(--accent-color);
}

.explanation {
  margin-top: 30px;
}

.inputLabel,
.inputField {
  display: block;
}

.inputLabel {
  margin-bottom: 5px;
}

.inputField {
  background-color: var(--light-primary);
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  color: #27212c;
}

.textArea {
  resize: none;
}

.submitCheck {
  margin-left: 2rem;
}

.submitButton {
  border: 2px solid var(--light-primary);
  color: var(--light-primary);
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 10px;
  transition-property: color, background-color;
  transition: 0.3s;
}

.submitButton:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 1000px) {
  .informationHeader {
    font-size: 24px;
  }
}
