.section {
  overflow: hidden;
  color: white;
  padding-bottom: 120px;
}

.title {
  margin-top: 100px;
  display: block;
  text-align: center;
  font-size: var(--section-header-size);
  text-transform: uppercase;
  font-weight: 300;
}

.content {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 50px;
  display: flex;
}

.content * {
  flex: 1;
}

@media screen and (max-width: 1000px) {
  .content {
    flex-direction: column;
    gap: 100px;
  }

  .content {
    padding: 25px;
  }
}
